<form [formGroup]="form" (ngSubmit)="onSubmit(form,$event)">
  <md-card>
    <md-card-header>
      <md-card-title>注册:</md-card-title>
    </md-card-header>
    <md-card-content>
      <md-input-container class="full-width">
        <input mdInput type="text" placeholder="您的Email" formControlName="email">
      </md-input-container>
      <md-input-container class="full-width">
        <input mdInput type="text" placeholder="您的姓名" formControlName="name">
      </md-input-container>
      <md-input-container class="full-width">
        <input mdInput type="password" placeholder="您的密码" formControlName="password">
      </md-input-container>
      <md-input-container class="full-width">
        <input mdInput type="password" placeholder="重复输入您的密码" formControlName="repeat">
      </md-input-container>
      <!-- <md-grid-list cols="6">
        <md-grid-tile *ngFor="let item of items">
          <md-icon class="avatar" [svgIcon]="item"></md-icon>
        </md-grid-tile>
      </md-grid-list> -->
      <app-image-list-select
      [useSvgIcon]="true"
      [cols]="6"
      [title]="'选择头像：'"
      [items]="avatars$"
      formControlName="avatar">
    </app-image-list-select>
    <app-age-input formControlName="dateOfBirth"></app-age-input>
      <button md-raised-button color="primary" type="submit">注册</button>
    </md-card-content>
    <md-card-actions class="text-right">
      <p>还没有账户？<a href="">登录</a></p>
      <p>忘记密码？<a href="">找回</a></p>
    </md-card-actions>
  </md-card>
</form>