md-icon.avatar{
    overflow:hidden;
    width: 64px;
    height: 64px;
    border-radius: 50%;
    margin: 12px;
    order: 3;
}

.priority-normal{
    border-left: 3px solid #A6A6A6;
}
.priority-important{
    border-left: 3px solid #FFAF38;
}
.priority-emergency{
    border-left: 3px solid red;
}

.completed{
    opacity: 0.64;
    color: #696969;
    text-decoration: line-through; 
}

.completion-status{
    order: -1;
}

.due-date{
    background-color: #FF4F3E;
    color: #fff;
}

.alarm{
    font-size: 18px;
}

.bottom-bar{
    margin-top: 3px;
    margin-bottom: 2px;
    font-size: 10px;
    width:100%;
    order: 1;
}

.content{
    order: 1;
    width:100%;
    padding:5px;
}

.container{
    width: 100%;
    border-radius: 3px;
    box-shadow: 0 1px 2ox rgba(0, 0, 0, 0.1);
}

:host{
    width:1000%;
}