<md-list-item class="container" 
  [@item]="widerPriority" 
  [ngClass]="{
  'priority-normal':item.priority===3 ,
  'priority-important':item.priority===2,
  'priority-emergency':item.priority===1}"
  (click)="onItemClick()"
  [app-draggable]="true"
  [draggedClass]="'drag-start'"
  [dragTag]="'task-item'"
  [dragData]="item"
  >
  <md-checkbox class="completion-status" [checked]="item.completed" (click)="onCheckBoxClick($event)"></md-checkbox>
  <div md-line class="content" [class.completed]="item.completed">
    <span [md-tooltip]="item.desc">{{item.desc}}</span>
  </div>
  <div md-line class="bottom-bar" *ngIf="item.dueDate">
    <span class="due-date">{{item.dueDate | date :"yy-MM-dd"}}</span>
    <md-icon *ngIf="item.reminder">alarm</md-icon>
  </div>
  <md-icon [svgIcon]="avatar" md-list-avatar class="avatar"></md-icon>
</md-list-item>